{% extends 'base.html.twig' %}

{% block title %}Kevin Traini | Projets{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/projects.css') }}">
{% endblock %}

{% block body %}
    <div class="arrow_return">
        <a href="{{ route('home') }}"><i class="fas fa-arrow-left"></i></a>
    </div>

    <div class="projects">
        <div class="projects_search">
            <label>
                <i class="fas fa-search"></i>
                <input id="search" type="text" placeholder="Chercher ...">
            </label>
        </div>
        <div class="flex_container">
            {% for project in projects %}
                <a class="card" href="{{ route('showProject', {'name': project.link}) }}" id="{{ project.name }}">
                    <div class="card_header">
                        <img class="card_header_img" src="{{ asset('img/projects/' ~ project.img) }}"
                             alt=""/>
                        <span class="card_header_text">{{ project.name }}</span>
                    </div>
                    <div class="card_body">
                        <p>{{ project.description }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/projects.js') }}"></script>
{% endblock %}