{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css', 'projects') }}">
{% endblock %}

{% block body %}
    {% for project in projects %}
        <a class="card" href="{{ project.url }}" target="_blank">
            <img src="{{ project.image }}" alt="">
            <div class="content">
                <h2>{{ project.name }}</h2>
                <p>{{ project.description }}</p>
                <div class="badges">
                    {% for badge in project.badges %}
                        <span class="badge">{{ badge }}</span>
                    {% endfor %}
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}