<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Kevin Traini</title>

    <!-- Author -->
    <meta name="author" content="Kevin Traini"/>
    <meta http-equiv="Content-Language" content="fr"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Kevin Traini, Kevin, Traini, Informatique, Programmation, Fork"/>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="140x140" href="{{ asset('img/profil.png') }}"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/utils.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>
<div class="arrows">
    <img class="up" src="{{ asset('img/assets/arrow_up.svg') }}" alt="">
    <img class="down" src="{{ asset('img/assets/arrow_down.svg') }}" alt="">
</div>

<div class="viewport-container">
    <div class="viewport">
        <div class="frame" id="1">
            <div class="ronds_container">
                <div class="ronds">
                    <img class="s" src="{{ asset('img/assets/circle_S.svg') }}" alt=""/>
                    <img class="m" src="{{ asset('img/assets/circle_M.svg') }}" alt=""/>
                    <img class="l" src="{{ asset('img/assets/circle_L.svg') }}" alt=""/>
                </div>
            </div>
            <div class="title-container">
                <h1 class="title">Kevin Traini</h1>
            </div>
        </div>

        <div class="frame" id="2">
            <div class="text_container">
                <div class="row_container">
                    <div class="row">
                        <p style="text-indent: 2em">Étudiant en licence 3 d'informatique, je partage mon temps libre
                            entre famille, lecture et
                            programmation. Je réalise divers projet autant en web (sites, framework) qu'en logiciel
                            (simulation, compilateur). Enfin je rédige quelques articles sur ce site quand j'ai quelques
                            connaissances à partager.</p>
                    </div>
                    <div class="row">
                        <p style="text-indent: 2em">Mon CV est disponible <a href="{{ route('home') }}">ici</a>, et
                            retrouvez moi sur <a href="https://github.com/Gashmob" target="_blank"><i
                                        class="fab fa-github" style="text-indent: 0"></i> Github</a> et <a
                                    href="https://www.linkedin.com/in/kevin-traini/" target="_blank"><i
                                        class="fab fa-linkedin" style="text-indent: 0"></i> Linkedin</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="frame" id="3">
            <div class="title-container">
                <h1 class="title">Mes projets</h1>
            </div>
        </div>

        <div class="frame" id="4">
            <div class="title-container">
                <h1 class="title">Mes articles</h1>
            </div>
        </div>

        <div class="frame" id="5">
            <div class="title-container">
                <h1 class="title">Footer</h1>
            </div>
        </div>
    </div>
</div>


<div class="points">
    <div class="points_container">
        <span class="point" id="1">•</span>
        <span class="point" id="2">•</span>
        <span class="point" id="3">•</span>
        <span class="point" id="4">•</span>
        <span class="point" id="5">•</span>
    </div>
</div>
</body>

<!-- Javascript -->
<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/home.js') }}"></script>
</html>