{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="home_header">
        <a href="{{ route("home") }}">Accueil</a>
        <a href="#proj">Projets</a>
        <a href="#">CV</a>
        <a href="https://github.com/Gashmob" target="_blank">Github</a>
        <a href="https://gitlab.com/Gashmob" target="_blank">Gitlab</a>
        <a href="https://www.linkedin.com/in/kevin-traini" target="_blank">Linkedin</a>
    </header>

    <section class="home_section accueil"> <!-- Accueil -->
        <canvas id="myCanvas"></canvas>
        <div>
            <span>Kevin TRAINI</span>
            <a href="#cit" class="down"><i class="fas fa-angle-down"></i></a>
        </div>
    </section>

    <section class="home_section citations" id="cit"> <!-- Citations -->
        <span class="left"><i class="fas fa-quote-left"></i> Ils ne savaient pas que c'était impossible, donc ils l'ont fait
            <i class="fas fa-quote-right"></i></span>
        <span class="right"><i class="fas fa-quote-left"></i> Pourquoi réfléchir quand on peut penser ?
            <i class="fas fa-quote-right"></i></span>
    </section>

    <section class="home_section presentation" id="pres"> <!-- Présentation -->
        <span>Étudiant en 2ᵉ année à l'Ensimag dans la filière Ingénierie des Systèmes d'Information, je partage mon temps libre entre famille, lecture et programmation. Je réalise divers projets autant en web (sites, framework) qu'en logiciel (simulation, compilateur).</span>
    </section>

    <section class="home_section projets" id="proj"> <!-- Projets -->
        <h1>Projets</h1>
        <div class="cards">
            {% if projects is empty %}
                <p style="font-size: 32px">Aucun projet</p>
            {% else %}
                {% for project in projects %}
                    <a href="{{ project.link }}" class="card" target="_blank">
                        <div class="card_gradiant"></div>
                        <div class="card_text">
                            <span class="card_text_title">{{ project.name }}</span>
                            <ul class="card_text_categories">
                                {% for category in project.categories %}
                                    <li class="card_text_category">{{ category.name }}</li>
                                {% endfor %}
                            </ul>
                            <p class="card_text_description">
                                {{ project.description }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
                <a class="plus" href="{{ route('projects') }}">Voir plus &nbsp; <i class="fas fa-angle-right"></i></a>
            {% endif %}
        </div>
    </section>

    <section class="home_section footer" id="foot"> <!-- Footer -->
        <!-- Juste pour faire de la place -->
    </section>

    <footer class="home_footer">
        <div class="footer_section">
            <p>Site créé par Kevin Traini en
                <a href="https://github.com/Gashmob/Website" target="_blank">open source</a>
                sous licence <a href="https://github.com/Gashmob/Website/blob/master/LICENSE.md">GNU GPL 3.0</a></p>
        </div>
        <div class="footer_section">
            <p>Ressources utilisées</p>
            <ul>
                <li><a class="link" href="https://jquery.com/" target="_blank">JQuery</a></li>
                <li><a class="link" href="https://jqueryui.com/" target="_blank">JQuery UI</a></li>
                <li><a class="link" href="https://fontawesome.com/" target="_blank">Font awesome</a></li>
                <li><a class="link" href="https://gitlab.com/Asteomount/Fork" target="_blank">Fork</a></li>
            </ul>
        </div>
        <div class="footer_section">
            <p>Hébergé chez OVH Cloud</p>
            <p>2 rue Kellermann 59100 Roubaix</p>
        </div>
    </footer>
{% endblock %}

{% block javascript %}<script src="{{ asset('js/home.js') }}"></script>{% endblock %}