{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/utils.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}"/>
{% endblock %}

{% block body %}
    <div class="arrows">
        <img class="up" src="{{ asset('img/assets/arrow_up.svg') }}" alt="">
        <img class="down" src="{{ asset('img/assets/arrow_down.svg') }}" alt="">
    </div>

    <div class="viewport-container">
        <div class="viewport">
            <div class="frame" id="1">
                <div class="ronds_container">
                    <div class="ronds">
                        <img class="s" src="{{ asset('img/assets/circle_S.svg') }}" alt=""/>
                        <img class="m" src="{{ asset('img/assets/circle_M.svg') }}" alt=""/>
                        <img class="l" src="{{ asset('img/assets/circle_L.svg') }}" alt=""/>
                    </div>
                </div>
                <div class="title-container">
                    <h1 class="title">Kevin Traini</h1>
                </div>
            </div>

            <div class="frame" id="2">
                <div class="text_container">
                    <div class="row_container">
                        <div class="row">
                            <h2 style="text-align: center">Qui suis-je ?</h2>
                        </div>
                        <div class="row">
                            <p style="text-indent: 2em">Étudiant en licence 3 d'informatique, je partage mon temps libre
                                entre famille, lecture et
                                programmation. Je réalise divers projets autant en web (sites, framework) qu'en logiciel
                                (simulation, compilateur).</p>
                        </div>
                        <div class="row">
                            <p style="text-indent: 2em">Mon CV est disponible <a href="{{ route('cv') }}">ici</a>, et
                                retrouvez moi sur <a href="https://github.com/Gashmob" target="_blank"><i
                                            class="fab fa-github" style="text-indent: 0"></i> Github</a> et <a
                                        href="https://www.linkedin.com/in/kevin-traini/" target="_blank"><i
                                            class="fab fa-linkedin" style="text-indent: 0"></i> Linkedin</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="frame" id="3">
                <div class="text_container">
                    <div class="row_container">
                        <div class="row">
                            <h2 style="text-align: center">Mes projets</h2>
                        </div>
                        <div class="row flex_container" id="projets" style="align-items: center">
                            {% for project in projects %}
                                <a class="card" href="{{ route('showProject', {'name': project.link}) }}">
                                    <div class="card_header">
                                        <img class="card_header_img" src="{{ asset('img/projects/' ~ project.img) }}"
                                             alt=""/>
                                        <span class="card_header_text">{{ project.name }}</span>
                                    </div>
                                    <div class="card_body">
                                        <p>{{ project.description }}</p>
                                    </div>
                                </a>
                            {% endfor %}
                            <a href="{{ route('listProjects') }}">Voir plus &gt;</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="frame" id="4">
                <div class="text-container">
                    <div class="column_container footer">
                        <div class="column2">
                            <p>Site créé par Kevin Traini avec le framework Fork</p>
                            <ul>
                                <li><a href="https://github.com/Gashmob/Website/blob/master/LICENSE.md" target="_blank">Licence
                                        MIT</a></li>
                                <li><a href="https://github.com/Gashmob/Website">Code source</a></li>
                            </ul>
                        </div>
                        <div class="column2">
                            <p>Ressources utilisées</p>
                            <ul>
                                <li><a href="https://jquery.com/" target="_blank">JQuery</a></li>
                                <li><a href="https://jqueryui.com/" target="_blank">JQuery UI</a></li>
                                <li><a href="https://fontawesome.com/" target="_blank">Font awesome</a></li>
                                <li><a href="https://github.com/Gashmob/Fork" target="_blank">Fork</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="points_container">
        <span class="point" id="1" title="Accueil">•</span>
        <span class="point" id="2" title="Présentation">•</span>
        <span class="point" id="3" title="Projets">•</span>
        <span class="point" id="4" title="Crédits">•</span>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/home.js') }}"></script>
{% endblock %}