<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>Kevin Traini | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
          integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    <link rel="shortcut icon" href="{{ asset('img/profil.png') }}" type="image/x-icon">
</head>

<body>
<div class="menu">
    <div class="menu__main">
        <div class="menu__icons">
            <a class="menu__icon" id="menu_expand"><i class="fas fa-bars"></i></a>
        </div>
        <div class="menu__texts menu__texts--hidden">
            <a href="{{ route('home') }}" class="menu__text" id="menu_expand">Kevin Traini</a>
        </div>
    </div>
    <hr/>
    <div class="menu__main">
        <div class="menu__icons">
            <a href="{{ route('home') }}" class="menu__icon"><i class="fas fa-home"></i></a>
            <a href="{{ route('articles') }}" class="menu__icon"><i class="fas fa-list-ul"></i></a>
            <a href="{{ route('projects') }}" class="menu__icon"><i class="fas fa-archive"></i></a>
            <a href="{{ route('cv') }}" class="menu__icon"><i class="fas fa-user"></i></a>
            <a href="{{ route('contact') }}" class="menu__icon"><i class="fas fa-phone-alt"></i></a>
        </div>
        <div class="menu__texts menu__texts--hidden">
            <a href="{{ route('home') }}" class="menu__text">Accueil</a>
            <a href="{{ route('articles') }}" class="menu__text">Articles</a>
            <a href="{{ route('projects') }}" class="menu__text">Projets</a>
            <a href="{{ route('cv') }}" class="menu__text">Mon CV</a>
            <a href="{{ route('contact') }}" class="menu__text">Contact</a>
        </div>
    </div>
    <hr/>
    <div class="menu__main">
        <div class="menu__icons">
            <a href="https://www.linkedin.com/in/kevin-traini/" class="menu__icon" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
            <a href="https://github.com/Gashmob" class="menu__icon" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="menu__texts menu__texts--hidden">
            <a href="https://www.linkedin.com/in/kevin-traini/" class="menu__text" target="_blank">Linkedin</a>
            <a href="https://github.com/Gashmob" class="menu__text" target="_blank">Github</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="header">
        <h1>{% block bodytitle %}{% endblock %}</h1>
        <h2>{% block bodysubtitle %}{% endblock %}</h2>
    </div>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</div>
</body>

<script src="{{ asset('js/menu.js') }}"></script>
{% block javascript %}{% endblock %}

</html>